.albums {
    padding: 30px 60px;
    min-height: 768px;
}

.albums * {
    font-family: "Inter";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    color: #000;
}

.albums .previous-page-btn {
    font-size: 16px;
    line-height: 25px;
    color: #000;
    transition: 0.3s;
    margin-bottom: 30px;
    display: inline-block;
}

.albums .previous-page-btn:hover {
    color: #B7274C;
}

.albums h1 {
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}

.albums__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -moz-column-gap: 20px;
    column-gap: 20px;
    row-gap: 30px;
}

.albums__img {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}

.albums__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.albums__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    transition: 0.3s;
}

.albums__date {
    font-size: 14px;
    line-height: 20px;
    color: rgba(17, 17, 17, 0.5);
}

.albums__item a:hover .albums__title {
    color: #891635;
}