.main {
    padding: 30px 60px;
    min-height: 768px;
}

.main * {
    font-family: "Inter";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    color: #000;
}

.main h1 {
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}

.main__btn {
    width: 100%;
    padding: 32px 10px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    background-color: #B7274C;
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
}

.main__btn:hover {
    background-color: #891635;
    color: #fff;
}

.main__hint {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.main__text {
    max-width: 800px;
    margin-bottom: 60px;
}

.main__text h3 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.main__text p {
    font-size: 16px;
    line-height: 25px;
}

.main h3 {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.main__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.tile {
    padding: 25px;
    border: 1px solid rgba(17, 17, 17, 0.15);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.tile:hover {
    border-color: #000;
}

.tile img {
    width: 220px;
    height: 220px;
}

.tile-title {
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    width: 100%;
}