.intro {
    padding: 30px 60px;
    min-height: 768px;
}

.intro * {
    font-family: "Inter";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

.intro__img {
    width: 215px;
    height: 215px;
    -o-object-fit: cover;
    object-fit: cover;
}

.intro__content {
    display: flex;
}

.intro__column {
    display: flex;
    flex-direction: column;
}

.intro__center {
    max-width: 550px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__center * {
    text-align: center;
}

.intro h1 {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #000;
}

.intro__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
    color: #000;
}

.intro__btn {
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    line-height: 25px;
    padding: 17px 70px;
    border-radius: 10px;
    background-color: #B7274C;
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
}

.intro__btn:hover {
    background-color: #891635;
    color: #fff;
}